:root {
    --main-bg-color:#fefefe;
    --main-shadow:#c8d0e7;
    --second-shadow:#ffffff;
    --text-light:rgb(169, 229, 254);
    --text-color:rgba(161, 164, 173, 0.7);
    --text-color-light:rgb(122, 182, 255);
}

body {
  background-color: var(--main-bg-color);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.row {
  list-style: none;
  display: flex;
  margin: 0 auto;
}

li {
  height: 3em;
  width: 3em;
  color: var(--text-color);
  border-radius: 0.4em;
  line-height: 3em;
  letter-spacing: 1px;
  margin: 0.4em;
  text-align: center;
  font-size: 1em;
}

.main-color {
  box-shadow: 0.3rem 0.3rem 0.6rem var(--main-shadow), -0.2rem -0.2rem 0.5rem var(--second-shadow);
  transition: all .2s ease;
}

.playing {
  color: var(--text-color-light);
  text-shadow: 0em 0em 0.2em var(--text-light),
    0em 0em 0.2em var(--text-light);
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--main-shadow),
    inset -0.2rem -0.2rem 0.5rem var(--second-shadow);
  transform: scale(1.05);
}

#back {
  width: 5em;
}

#tab {
  width: 5em;
}

#caps {
  width: 6em;
}

#enter {
  width: 6em;
}

#left-shift {
  width: 8em;
}

#right-shift {
  width: 8em;
}
